{% extends "aplicacion/base.html" %}
{% load static %}


{% block titulo %}

<h1>About</h1>
<span class="subheading">略歴</span>

{% endblock titulo %}


{% block contenido %}

    <div class="list-group border border-5 px-4 py-4 mb-5">   

        <div class="d-flex w-100 mt-4 justify-content-center">
            <h4 class="text-primary">Un poco sobre mi...</h4>            
        </div>        
              
        <div class="d-flex w-100 ">
            <p class="mb-1">Hola! Mi nombre es Martina Vitacca y soy de Montevideo, Uruguay. 
                El año pasado estudié en un programa gubernamental para capacitar e insertar laboralmente a personas entre 18 y 30 años en el área de la tecnología.
                Allí aprendí a programar desde cero y logré culminar el curso sabiendo desarrollar una página web con HTML, CSS y JS.
            </p>    
        </div>

        <div class="d-flex w-100">
            <p class="mb-1">
                En Febrero de este año tuve la gran oportunidad de poder trabajar en un pequeño proyecto en front-end de forma freelance utilizando los conocimientos
                adquiridos previamente (y algunos nuevos aprendidos).
            </p>    
        </div>

        <div class="d-flex w-100">
            <p class="mb-1">
                En la actualidad estoy formándome para poder dedicarme a trabajar como desarrolladora Full Stack. Además de indagar en las miles de opciones que este mundo de la tecnología ofrece!
            </p>    
        </div>
        
        <div class="d-flex w-100">
            <p class="mb-1">
                Este es el primer proyecto que realizo en Python & Django, y espero haber podido brindar una linda experiencia.
                Muchas gracias por visitar este website!
            </p>    
        </div>
        
        <div class="d-flex w-100 justify-content-center">
            <p class="mb-4">
               <span class="text-muted"><i class="fa-solid fa-book-bookmark"></i></span><span class="fst-italic"> And don't forget, there is always time to read</span> <span class="text-muted"><i class="fa-solid fa-book-bookmark"></i></span>
            </p>    
        </div>
           
    </div>  


{% endblock contenido %}